click
clickhouse-driver
clickhouse-sqlalchemy
Flask
Flask-SQLAlchemy
Flask-WTF==0.14.3
gunicorn==20.1.0
itsdangerous
Jinja2
MarkupSafe==1.1.1
psycopg2
python-dotenv==0.17.0
SQLAlchemy
Werkzeug
WTForms
